body{
    background:linear-gradient(to bottom right,black, rgb(0, 125, 250) 75%,white);
}

table, th, td {
    border: 1px solid;
}

tr{
    background: darkblue;
}

.dataTables_length label  {
    color: white !important;
}
.dataTables_filter label  {
    color: white !important;
}
.dataTables_info  {
    color: white !important;
}
#table_id_paginate a  {
    color: black !important;
}